@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-json-editor {

	max-width: 100%;

	div[data-theme="spectre"] * {
		--primary-color: #5755d9;
		--gray-color: #bcc3ce;
		--light-color: #fff;
		padding: 0 0.2rem 0.2rem;
	}

	.container {
		padding: 1rem 1rem 0.5rem;
	}

	button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
		background: #5755d9;
		border-color: #4846c0;
		color: #fff;

		+ button,
		[type="button"] {
			margin-left: 10px;
		}
	}

	ol ol,
	ol ul,
	ul ol,
	ul ul {
		margin: 0.8rem 0 1.5rem 2rem;
	}
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0;
}
